// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

footer {
    padding: 5px 0 0 0;
    border-top: 1px solid #eaeaea;
}

.about-link-url {
    color: rgba(0, 0, 0, 0.5);
    &:hover {
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none;
    }
}

.alert-ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}
